flows_raspberrypi.json
[{"id":"f71e9d36.3ea46","type":"tab","label":"Lampada TV"},{"id":"7f1101e8.2c842","type":"tab","label":"Soggiorno Cam","disabled":false,"info":""},{"id":"40cad1d2.79e79","type":"tab","label":"Giardino luce esterna","disabled":false,"info":""},{"id":"bd22ace0.966bd","type":"tab","label":"NodeMcu Garage","disabled":false,"info":""},{"id":"95bfe7ac.e27f78","type":"tab","label":"Utility Raspberry","disabled":false,"info":""},{"id":"26beb945.9c8d36","type":"tab","label":"Giardino prese","disabled":false,"info":""},{"id":"af63d9cb.310c78","type":"tab","label":"Sonoffs utils","disabled":false,"info":""},{"id":"27139111.dd960e","type":"tab","label":"Sonoff Wifi check","disabled":false,"info":""},{"id":"d65be59b.f4b948","type":"tab","label":"Wemos Cucina","disabled":true,"info":""},{"id":"319a36dd.3b7cea","type":"tab","label":"Utils","disabled":true,"info":""},{"id":"7c2ce76c.0288d8","type":"tab","label":"Sonoff scorta","disabled":true,"info":""},{"id":"cc7afa88.dfaa58","type":"tab","label":"Mail","disabled":true,"info":""},{"id":"9371cbad.480868","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de7a0c3d.03167","type":"ui_group","z":"","name":"Luce TV","tab":"b7c9577b.ac16a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"87bce9c3.c9f688","type":"ui_group","z":"","name":"Telecamera soggiorno","tab":"b7c9577b.ac16a8","order":6,"disp":true,"width":"6","collapse":false},{"id":"caaf9195.c2ea9","type":"ui_group","z":"","name":"Luce giardino palo","tab":"b7c9577b.ac16a8","order":4,"disp":true,"width":"6","collapse":false},{"id":"dbb73386.e4673","type":"ui_group","z":"","name":"Giardino prese","tab":"b7c9577b.ac16a8","order":7,"disp":true,"width":"6","collapse":false},{"id":"faa678e3.1ab0e8","type":"ui_group","z":"","name":"Luce giardino bordo","tab":"b7c9577b.ac16a8","order":5,"disp":true,"width":"6","collapse":false},{"id":"d2f9fa16.d468a8","type":"ui_group","z":"","name":"Sonoff soggiorno scorta","tab":"b7c9577b.ac16a8","order":14,"disp":true,"width":"6","collapse":false},{"id":"2bfef73b.00bdd8","type":"ui_group","z":"","name":"TV Soggiorno","tab":"b7c9577b.ac16a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"bd8dc52.7728b38","type":"ui_group","z":"","name":"Presenza in casa","tab":"b7c9577b.ac16a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7c9577b.ac16a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"85aa5834.abf4a8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ad749ca.a0c778","type":"ui_group","z":"","name":"Mail","tab":"b7c9577b.ac16a8","order":10,"disp":true,"width":"6","collapse":false},{"id":"42428252.18148c","type":"ui_group","z":"","name":"Raspberry utils","tab":"b7c9577b.ac16a8","order":8,"disp":true,"width":"6","collapse":false},{"id":"24873fed.0bad9","type":"ui_group","z":"","name":"Sonoff Utils","tab":"b7c9577b.ac16a8","order":9,"disp":true,"width":"6","collapse":false},{"id":"aa07781c.d3cd28","type":"ui_group","z":"","name":"Sonoff WiFi","tab":"b7c9577b.ac16a8","order":11,"disp":true,"width":"6","collapse":false},{"id":"6ff8f1d.0ed2b1","type":"ui_group","z":"","name":"Sonoff giardino scorta","tab":"b7c9577b.ac16a8","order":15,"disp":true,"width":"6","collapse":false},{"id":"78783b43.f969c4","type":"ui_group","z":"","name":"Wemos cucina","tab":"b7c9577b.ac16a8","order":12,"disp":true,"width":"6","collapse":false},{"id":"69ab264d.9871e8","type":"ui_group","z":"","name":"Wemos garage","tab":"b7c9577b.ac16a8","order":13,"disp":true,"width":"6","collapse":false},{"id":"a65e9b1.f5af668","type":"ui_group","z":"","name":"Sensore PIR Garage","tab":"b7c9577b.ac16a8","disp":true,"width":"6","collapse":false},{"id":"dc40c697.742bc8","type":"wiotp-credentials","z":"","name":"","org":"l7qpdy","serverName":"","devType":"Sonoff","devId":"1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"4d833254.eb0b5c","type":"inject","z":"95bfe7ac.e27f78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":370,"y":160,"wires":[["52b8ef8.aba151"]]},{"id":"fa013db1.cc3de","type":"exec","z":"95bfe7ac.e27f78","command":"sudo apt-get -y update","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"sudo apt-get update","x":380,"y":260,"wires":[[],[],["8806e471.72da28"]]},{"id":"a6ce8163.89369","type":"inject","z":"95bfe7ac.e27f78","name":"03:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":"","x":110,"y":260,"wires":[["fa013db1.cc3de"]]},{"id":"769d7b96.b4a654","type":"exec","z":"95bfe7ac.e27f78","command":"sudo apt-get -y upgrade","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"sudo apt-get upgrade","x":900,"y":300,"wires":[[],[],["4570e432.64614c"]]},{"id":"8806e471.72da28","type":"delay","z":"95bfe7ac.e27f78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":280,"wires":[["769d7b96.b4a654"]]},{"id":"f86df1c9.9e9f7","type":"exec","z":"95bfe7ac.e27f78","command":"sudo apt-get -y autoremove","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"sudo apt-get autoremove","x":470,"y":440,"wires":[[],[],["917d411a.e4402"]]},{"id":"4570e432.64614c","type":"delay","z":"95bfe7ac.e27f78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":380,"wires":[["f86df1c9.9e9f7"]]},{"id":"917d411a.e4402","type":"delay","z":"95bfe7ac.e27f78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":460,"wires":[["80dfd06d.ebd6f"]]},{"id":"80dfd06d.ebd6f","type":"exec","z":"95bfe7ac.e27f78","command":"sudo apt-get -y autoclean","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"sudo apt-get autoclean","x":980,"y":500,"wires":[[],[],["9d015931.53fcf8"]]},{"id":"354ce08c.0c8d6","type":"exec","z":"95bfe7ac.e27f78","command":"sudo reboot #","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"sudo reboot","x":990,"y":80,"wires":[[],[],[]]},{"id":"4959a3b3.42f91c","type":"mqtt in","z":"7c2ce76c.0288d8","name":"","topic":"stat/sonoff_gard/POWER4","qos":"2","broker":"9371cbad.480868","x":270,"y":220,"wires":[["a3bb41a0.b645c"]]},{"id":"a3bb41a0.b645c","type":"function","z":"7c2ce76c.0288d8","name":"GPIO Status","func":"if (msg.payload === \"OFF\") {\n   msg.payload = 'Spento'\n   return [ msg ];\n} \n\nif (msg.payload === \"ON\") {\n   msg.payload = 'Acceso'\n   return [ msg ];\n}","outputs":1,"noerr":0,"x":590,"y":220,"wires":[["f76a7341.e1749"]]},{"id":"5d946e2.c20569","type":"mqtt out","z":"7c2ce76c.0288d8","name":"","topic":"cmnd/sonoff_gard/POWER4","qos":"2","retain":"true","broker":"9371cbad.480868","x":1060,"y":120,"wires":[]},{"id":"f4776969.314768","type":"mqtt in","z":"40cad1d2.79e79","name":"","topic":"stat/sonoff_gard/POWER1","qos":"2","broker":"9371cbad.480868","x":450,"y":60,"wires":[["85b56267.e5633"]]},{"id":"85b56267.e5633","type":"function","z":"40cad1d2.79e79","name":"GPIO Status","func":"if (msg.payload === \"OFF\") {\n   msg.payload = 'Spenta'\n   return msg;\n} \n\nif (msg.payload === \"ON\") {\n   msg.payload = 'Accesa'\n   return msg;\n}","outputs":1,"noerr":0,"x":770,"y":60,"wires":[["af031bb9.24e768"]]},{"id":"13f1e2ab.66562d","type":"function","z":"40cad1d2.79e79","name":"text","func":"if (msg.payload ===\"on\"){\n    msg.payload = \"Manuale\";\n}\n\nif (msg.payload ===\"off\"){\n    msg.payload = \"Manuale\";\n}\n\nif (msg.payload ===\"auto\"){\n    msg.payload = \"Timer\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["4d0851ee.38418"]]},{"id":"827664e0.d17ea8","type":"mqtt in","z":"7f1101e8.2c842","name":"","topic":"stat/sonoff_sogg/POWER2","qos":"2","broker":"9371cbad.480868","x":150,"y":260,"wires":[["cdb9e2f.dc94c2"]]},{"id":"8205e23c.d8465","type":"inject","z":"f71e9d36.3ea46","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":320,"wires":[["d3e6f0ec.e861a"]]},{"id":"e278f7e5.c1ee68","type":"inject","z":"f71e9d36.3ea46","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":360,"wires":[["d3e6f0ec.e861a"]]},{"id":"f3702354.de8bd","type":"inject","z":"f71e9d36.3ea46","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":true,"x":150,"y":400,"wires":[["d3e6f0ec.e861a"]]},{"id":"935faafd.fa3288","type":"inject","z":"7f1101e8.2c842","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":180,"wires":[["34876b7a.2d6374"]]},{"id":"dc512c81.a462","type":"inject","z":"f71e9d36.3ea46","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":110,"y":240,"wires":[["a3f965a6.27f9f8"]]},{"id":"90d00d5c.0356d","type":"mqtt out","z":"f71e9d36.3ea46","name":"","topic":"cmnd/sonoff_sogg/POWER1","qos":"2","retain":"true","broker":"9371cbad.480868","x":1560,"y":140,"wires":[]},{"id":"7b8e1a3f.53f794","type":"mqtt out","z":"7f1101e8.2c842","name":"","topic":"cmnd/sonoff_sogg/POWER2","qos":"2","retain":"true","broker":"9371cbad.480868","x":980,"y":80,"wires":[]},{"id":"73d776d9.a3d8e8","type":"mqtt in","z":"f71e9d36.3ea46","name":"","topic":"stat/sonoff_sogg/POWER1","qos":"2","broker":"9371cbad.480868","x":470,"y":520,"wires":[["1fc8db69.b0cbe5"]]},{"id":"89d442f8.c314c","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/sonoff_sogg/LedState","qos":"2","retain":"true","broker":"9371cbad.480868","x":600,"y":40,"wires":[]},{"id":"66816aad.544104","type":"inject","z":"af63d9cb.310c78","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":40,"wires":[["89d442f8.c314c","1e752cec.ad5f83"]]},{"id":"9b586e80.b0eb4","type":"inject","z":"af63d9cb.310c78","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":160,"wires":[["89d442f8.c314c","1e752cec.ad5f83"]]},{"id":"26c86bf1.eceeb4","type":"mqtt out","z":"40cad1d2.79e79","name":"","topic":"cmnd/sonoff_gard/POWER1","qos":"2","retain":"true","broker":"9371cbad.480868","x":1120,"y":140,"wires":[]},{"id":"1e752cec.ad5f83","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/sonoff_gard/LedState","qos":"2","retain":"true","broker":"9371cbad.480868","x":600,"y":160,"wires":[]},{"id":"5cbb27c2.08e218","type":"mqtt out","z":"26beb945.9c8d36","name":"","topic":"cmnd/sonoff_gard/POWER2","qos":"2","retain":"true","broker":"9371cbad.480868","x":720,"y":200,"wires":[]},{"id":"c97e075e.3b58b8","type":"mqtt in","z":"26beb945.9c8d36","name":"","topic":"stat/sonoff_gard/POWER2","qos":"2","broker":"9371cbad.480868","x":470,"y":360,"wires":[["20f0c349.5e850c"]]},{"id":"aeedb9bd.b8d418","type":"inject","z":"26beb945.9c8d36","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"2","x":310,"y":240,"wires":[["1828d620.d1df7a"]]},{"id":"fa5b7863.c94038","type":"mqtt in","z":"40cad1d2.79e79","name":"","topic":"stat/sonoff_gard/POWER3","qos":"2","broker":"9371cbad.480868","x":630,"y":400,"wires":[["dc748f07.f2e2a"]]},{"id":"dc748f07.f2e2a","type":"function","z":"40cad1d2.79e79","name":"GPIO Status","func":"if (msg.payload === \"OFF\") {\n   msg.payload = 'Spenta'\n   return msg;\n} \n\nif (msg.payload === \"ON\") {\n   msg.payload = 'Accesa'\n   return msg;\n}","outputs":1,"noerr":0,"x":990,"y":400,"wires":[["494223b1.a9febc"]]},{"id":"bf00cb1.a8f1c38","type":"function","z":"40cad1d2.79e79","name":"text","func":"if (msg.payload ===\"on\"){\n    msg.payload = \"Manuale\";\n}\n\nif (msg.payload ===\"off\"){\n    msg.payload = \"Manuale\";\n}\n\nif (msg.payload ===\"auto\"){\n    msg.payload = \"Timer\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":600,"wires":[["fa35bb0d.88a5a8"]]},{"id":"246aaf61.ca398","type":"mqtt out","z":"40cad1d2.79e79","name":"","topic":"cmnd/sonoff_gard/POWER3","qos":"2","retain":"true","broker":"9371cbad.480868","x":1000,"y":480,"wires":[]},{"id":"5e184020.b9f82","type":"mqtt out","z":"d65be59b.f4b948","name":"","topic":"cmnd/wemos_cucina/POWER","qos":"2","retain":"true","broker":"9371cbad.480868","x":770,"y":140,"wires":[]},{"id":"a7b59695.935c28","type":"mqtt in","z":"d65be59b.f4b948","name":"","topic":"stat/wemos_cucina/POWER","qos":"2","broker":"9371cbad.480868","x":380,"y":280,"wires":[["5cf59e12.d6b97"]]},{"id":"5cf59e12.d6b97","type":"function","z":"d65be59b.f4b948","name":"GPIO Status","func":"if (msg.payload === \"OFF\") {\n   msg.payload = 'Spente'\n   return msg;\n} \n\nif (msg.payload === \"ON\") {\n   msg.payload = 'Accese'\n   return msg;\n}","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["ef200f81.ec388"]]},{"id":"192a7af8.d6ebe5","type":"inject","z":"d65be59b.f4b948","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":187.10000610351562,"y":178,"wires":[["cb14fac7.fa7dc8"]]},{"id":"76aa98ac.3d94f8","type":"mqtt out","z":"d65be59b.f4b948","name":"","topic":"cmnd/nodemcu_garage/POWER","qos":"2","retain":"true","broker":"9371cbad.480868","x":780,"y":440,"wires":[]},{"id":"e1b8e6de.68c1c8","type":"mqtt in","z":"d65be59b.f4b948","name":"","topic":"stat/nodemcu_garage/POWER","qos":"2","broker":"9371cbad.480868","x":390,"y":580,"wires":[["f92d0510.e8c078"]]},{"id":"f92d0510.e8c078","type":"function","z":"d65be59b.f4b948","name":"GPIO Status","func":"if (msg.payload === \"OFF\") {\n   msg.payload = 'Spente'\n   return msg;\n} \n\nif (msg.payload === \"ON\") {\n   msg.payload = 'Accese'\n   return msg;\n}","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["f0130833.38c6b8"]]},{"id":"e0156905.2ef258","type":"inject","z":"d65be59b.f4b948","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":187.10000610351562,"y":478,"wires":[["9590e868.510a88"]]},{"id":"3548a31a.dfc12c","type":"e-mail","z":"cc7afa88.dfaa58","server":"smtp.libero.it","port":"465","secure":true,"name":"maxipcamera@libero.it","dname":"","x":780,"y":120,"wires":[]},{"id":"2ff36bc3.fd2834","type":"inject","z":"cc7afa88.dfaa58","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":350,"y":120,"wires":[["eadec05.61d824"]]},{"id":"fdf5f7f6.ac75b8","type":"mqtt out","z":"7c2ce76c.0288d8","name":"","topic":"cmnd/sonoff_sogg/POWER3","qos":"2","retain":"true","broker":"9371cbad.480868","x":1080,"y":360,"wires":[]},{"id":"3e9d2f25.c3bb2","type":"mqtt in","z":"7c2ce76c.0288d8","name":"","topic":"stat/sonoff_sogg/POWER3","qos":"2","broker":"9371cbad.480868","x":270,"y":460,"wires":[["cdcede1f.6edb9"]]},{"id":"dbbbc9cd.b362e8","type":"mqtt in","z":"7c2ce76c.0288d8","name":"","topic":"stat/sonoff_sogg/POWER4","qos":"2","broker":"9371cbad.480868","x":270,"y":700,"wires":[["7f76f1a0.3c4d4"]]},{"id":"cdcede1f.6edb9","type":"function","z":"7c2ce76c.0288d8","name":"GPIO Status","func":"if (msg.payload === \"OFF\") {\n   msg.payload = 'Spento'\n   return msg;\n} \n\nif (msg.payload === \"ON\") {\n   msg.payload = 'Acceso'\n   return msg;\n}","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["21c3566.43ba1aa"]]},{"id":"7f76f1a0.3c4d4","type":"function","z":"7c2ce76c.0288d8","name":"GPIO Status","func":"if (msg.payload === \"OFF\") {\n   msg.payload = 'Spento'\n   return msg;\n} \n\nif (msg.payload === \"ON\") {\n   msg.payload = 'Acceso'\n   return msg;\n}","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["83c2de04.bc55"]]},{"id":"b89c8da.9a9587","type":"mqtt out","z":"7c2ce76c.0288d8","name":"","topic":"cmnd/sonoff_sogg/POWER4","qos":"2","retain":"true","broker":"9371cbad.480868","x":1067.0000019073486,"y":642.0000057220459,"wires":[]},{"id":"4e033128.20848","type":"comment","z":"319a36dd.3b7cea","name":"Subscribe to all messages","info":"This is just to subscribe to all messages \ncoming from ESPurna. You can turn this off\nonce you are completed the setup.\n\nHere I put the same topic ID as what I entered\non the UI and # at the end.","x":310,"y":240,"wires":[]},{"id":"312461e8.f195ae","type":"mqtt in","z":"319a36dd.3b7cea","name":"","topic":"stat/sonoff_sogg/#","qos":"0","broker":"9371cbad.480868","x":310,"y":300,"wires":[["8d680ca.959b6f"]]},{"id":"693a1d2f.8558e4","type":"mqtt in","z":"319a36dd.3b7cea","name":"","topic":"tele/sonoff_sogg/#","qos":"0","broker":"9371cbad.480868","x":310,"y":360,"wires":[["8d680ca.959b6f"]]},{"id":"30a0e9e4.a05c66","type":"mqtt in","z":"319a36dd.3b7cea","name":"","topic":"stat/sonoff_gard/#","qos":"0","broker":"9371cbad.480868","x":310,"y":420,"wires":[["8d680ca.959b6f"]]},{"id":"fa561854.47d2a8","type":"mqtt in","z":"319a36dd.3b7cea","name":"","topic":"tele/sonoff_gard/#","qos":"0","broker":"9371cbad.480868","x":310,"y":480,"wires":[["8d680ca.959b6f"]]},{"id":"637c082c.ac3268","type":"mqtt in","z":"319a36dd.3b7cea","name":"","topic":"stat/nodemcu_garage/#","qos":"0","broker":"9371cbad.480868","x":300,"y":540,"wires":[["8d680ca.959b6f"]]},{"id":"763363f.ebf7e9c","type":"mqtt in","z":"319a36dd.3b7cea","name":"","topic":"tele/nodemcu_garage/#","qos":"0","broker":"9371cbad.480868","x":300,"y":600,"wires":[["8d680ca.959b6f"]]},{"id":"8d680ca.959b6f","type":"switch","z":"319a36dd.3b7cea","name":"JSON format?","property":"$substring(msg.payload, 0, 1)=\"{\"","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":640,"y":420,"wires":[["ca8df7ad.6c2608"],["dc785945.9200c8"]]},{"id":"ca8df7ad.6c2608","type":"json","z":"319a36dd.3b7cea","name":"","pretty":false,"x":870,"y":380,"wires":[["dc785945.9200c8"]]},{"id":"dc785945.9200c8","type":"debug","z":"319a36dd.3b7cea","name":"","active":false,"console":"false","complete":"false","x":1070,"y":440,"wires":[]},{"id":"56100f72.7e811","type":"inject","z":"40cad1d2.79e79","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":400,"wires":[["383bf8ec.75be78","68540dd2.fcdc24"]]},{"id":"d5bcdeea.e893b","type":"ping","z":"7c2ce76c.0288d8","name":"Ping router","host":"192.168.1.1","timer":"60","x":340,"y":820,"wires":[["263684b0.66d96c"]]},{"id":"3400df2e.14c25","type":"debug","z":"7c2ce76c.0288d8","name":"","active":false,"console":"false","complete":"false","x":830,"y":820,"wires":[]},{"id":"263684b0.66d96c","type":"function","z":"7c2ce76c.0288d8","name":"Check WiFi","func":"if (msg.payload){\n        msg.payload = \"Raspberry Alive\";\n        return msg;\n}\nelse\n{\n    msg.payload = \"Restart WiFi\";\n//  \n    \n    return msg;\n}\n","outputs":1,"noerr":0,"x":570,"y":820,"wires":[["3400df2e.14c25"]]},{"id":"2cd99189.929cbe","type":"mqtt in","z":"27139111.dd960e","name":"","topic":"tele/sonoff_sogg/STATE","qos":"0","broker":"9371cbad.480868","x":160,"y":140,"wires":[["65c15aad.15d844"]]},{"id":"65c15aad.15d844","type":"json","z":"27139111.dd960e","name":"","pretty":false,"x":350,"y":140,"wires":[["71fa9178.eeb97"]]},{"id":"e69080a8.9ff3b","type":"change","z":"27139111.dd960e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Wifi.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":140,"wires":[["650eb134.57bb7","7e6606fb.98b278"]]},{"id":"396eba89.342226","type":"mqtt in","z":"27139111.dd960e","name":"","topic":"tele/sonoff_gard/STATE","qos":"0","broker":"9371cbad.480868","x":240,"y":540,"wires":[["6916d1e5.9df5a"]]},{"id":"6916d1e5.9df5a","type":"json","z":"27139111.dd960e","name":"","pretty":false,"x":470,"y":540,"wires":[["c8987ce0.d3a4d"]]},{"id":"60553a61.d5aab4","type":"change","z":"27139111.dd960e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Wifi.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[["f7d2aa86.3240d8","94c7ce82.5c759"]]},{"id":"2ae567f4.109d88","type":"inject","z":"27139111.dd960e","name":"","topic":"","payload":"nd","payloadType":"str","repeat":"","crontab":"","once":true,"x":670,"y":60,"wires":[["650eb134.57bb7"]]},{"id":"7e6606fb.98b278","type":"switch","z":"27139111.dd960e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nd","vt":"str"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":970,"y":180,"wires":[["4bbd67ec.ba3218"],["624bee9e.34728"]]},{"id":"4bbd67ec.ba3218","type":"change","z":"27139111.dd960e","name":"red","rules":[{"t":"set","p":"colour","pt":"msg","to":"#FF0000","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":120,"wires":[["2d6fea68.7001b6"]]},{"id":"624bee9e.34728","type":"change","z":"27139111.dd960e","name":"green","rules":[{"t":"set","p":"colour","pt":"msg","to":"#00ff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":240,"wires":[["2d6fea68.7001b6"]]},{"id":"44d4d233.3c532c","type":"inject","z":"27139111.dd960e","name":"","topic":"","payload":"nd","payloadType":"str","repeat":"","crontab":"","once":true,"x":830,"y":480,"wires":[["f7d2aa86.3240d8"]]},{"id":"94c7ce82.5c759","type":"switch","z":"27139111.dd960e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nd","vt":"str"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1230,"y":600,"wires":[["9221f62a.086b18"],["990b0513.a90dc8"]]},{"id":"9221f62a.086b18","type":"change","z":"27139111.dd960e","name":"red","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ff0000","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":580,"wires":[["14fb1ba1.b6cbc4"]]},{"id":"990b0513.a90dc8","type":"change","z":"27139111.dd960e","name":"green","rules":[{"t":"set","p":"colour","pt":"msg","to":"#00ff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":620,"wires":[["14fb1ba1.b6cbc4"]]},{"id":"76939766.cdd7f8","type":"mqtt in","z":"27139111.dd960e","name":"","topic":"tele/wemos_cucina/STATE","qos":"0","broker":"9371cbad.480868","x":210,"y":780,"wires":[["4923961e.f2e508"]]},{"id":"4923961e.f2e508","type":"json","z":"27139111.dd960e","name":"","pretty":false,"x":450,"y":780,"wires":[["82f338b7.3ebc78"]]},{"id":"626339aa.0d4a38","type":"change","z":"27139111.dd960e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Wifi.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":780,"wires":[["a5b186ee.682f58","5b22f89d.c7f118"]]},{"id":"17e4384f.625968","type":"mqtt in","z":"27139111.dd960e","name":"","topic":"tele/nodemcu_garage/STATE","qos":"0","broker":"9371cbad.480868","x":220,"y":1120,"wires":[["6ba7aab6.4611b4"]]},{"id":"6ba7aab6.4611b4","type":"json","z":"27139111.dd960e","name":"","pretty":false,"x":470,"y":1120,"wires":[["39f16d0a.455512"]]},{"id":"1923129f.bb00dd","type":"change","z":"27139111.dd960e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Wifi.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1120,"wires":[["e51d4f5e.dcbf","3e7d2b72.623944"]]},{"id":"f9ecfe32.3705c","type":"inject","z":"27139111.dd960e","name":"","topic":"","payload":"nd","payloadType":"str","repeat":"","crontab":"","once":true,"x":810,"y":700,"wires":[["a5b186ee.682f58"]]},{"id":"223cf416.ac18cc","type":"inject","z":"27139111.dd960e","name":"","topic":"","payload":"nd","payloadType":"str","repeat":"","crontab":"","once":true,"x":830,"y":1040,"wires":[["e51d4f5e.dcbf"]]},{"id":"5b22f89d.c7f118","type":"switch","z":"27139111.dd960e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nd","vt":"str"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1230,"y":840,"wires":[["d02c58f1.4ec6b8"],["9a7a2372.d6f5c"]]},{"id":"d02c58f1.4ec6b8","type":"change","z":"27139111.dd960e","name":"red","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ff0000","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":820,"wires":[["d1870bdf.8c5508"]]},{"id":"9a7a2372.d6f5c","type":"change","z":"27139111.dd960e","name":"green","rules":[{"t":"set","p":"colour","pt":"msg","to":"#00ff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":860,"wires":[["d1870bdf.8c5508"]]},{"id":"3e7d2b72.623944","type":"switch","z":"27139111.dd960e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nd","vt":"str"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1250,"y":1120,"wires":[["387cbcb9.7c9f44"],["226aeed6.5896d2"]]},{"id":"387cbcb9.7c9f44","type":"change","z":"27139111.dd960e","name":"red","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ff0000","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1080,"wires":[["2e61e0ce.83e5f"]]},{"id":"226aeed6.5896d2","type":"change","z":"27139111.dd960e","name":"green","rules":[{"t":"set","p":"colour","pt":"msg","to":"#00ff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":1160,"wires":[["2e61e0ce.83e5f"]]},{"id":"f0745953.029828","type":"inject","z":"27139111.dd960e","name":"","topic":"","payload":"nd","payloadType":"str","repeat":"","crontab":"","once":true,"x":790,"y":1320,"wires":[["8c628981.b9a778"]]},{"id":"942064e4.708da8","type":"mqtt in","z":"27139111.dd960e","name":"","topic":"tele/wemos_camera/STATE","qos":"0","broker":"9371cbad.480868","x":220,"y":1400,"wires":[["dee0ad3.e99675"]]},{"id":"dee0ad3.e99675","type":"json","z":"27139111.dd960e","name":"","pretty":false,"x":530,"y":1400,"wires":[["52433030.37308"]]},{"id":"23b6a463.87882c","type":"change","z":"27139111.dd960e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Wifi.RSSI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1400,"wires":[["8c628981.b9a778","6a6670dc.af11f"]]},{"id":"6a6670dc.af11f","type":"switch","z":"27139111.dd960e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nd","vt":"str"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1230,"y":1420,"wires":[["b63e734.21d699"],["e4ff9378.4872d"]]},{"id":"b63e734.21d699","type":"change","z":"27139111.dd960e","name":"red","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ff0000","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1400,"wires":[["c4d06212.7a96e"]]},{"id":"e4ff9378.4872d","type":"change","z":"27139111.dd960e","name":"green","rules":[{"t":"set","p":"colour","pt":"msg","to":"#00ff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1440,"wires":[["c4d06212.7a96e"]]},{"id":"c8aed98.a8ccc28","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/sonoff_gard/Restart","qos":"","retain":"","broker":"9371cbad.480868","x":630,"y":300,"wires":[]},{"id":"f4e71e28.ed9ed","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/sonoff_sogg/Restart","qos":"","retain":"","broker":"9371cbad.480868","x":630,"y":380,"wires":[]},{"id":"fbac716e.876f3","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/nodemcu_garage/Restart","qos":"","retain":"","broker":"9371cbad.480868","x":650,"y":460,"wires":[]},{"id":"70bb3931.404468","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/wemos_cucina/Restart","qos":"","retain":"","broker":"9371cbad.480868","x":640,"y":540,"wires":[]},{"id":"e8da82cf.b1a7","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/wemos_camera/Restart","qos":"","retain":"","broker":"9371cbad.480868","x":650,"y":620,"wires":[]},{"id":"a3ef121f.5181f","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/sonoff_gard/Upgrade","qos":"","retain":"","broker":"9371cbad.480868","x":1500,"y":300,"wires":[]},{"id":"b9be9258.0ded8","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/sonoff_sogg/Upgrade","qos":"","retain":"","broker":"9371cbad.480868","x":1500,"y":380,"wires":[]},{"id":"6bb7ce4b.cc056","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/nodemcu_garage/Upgrade","qos":"","retain":"","broker":"9371cbad.480868","x":1520,"y":460,"wires":[]},{"id":"8b99c04b.b367b","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/wemos_cucina/Upgrade","qos":"","retain":"","broker":"9371cbad.480868","x":1510,"y":540,"wires":[]},{"id":"bd96e045.6faa4","type":"mqtt out","z":"af63d9cb.310c78","name":"","topic":"cmnd/wemos_camera/Upgrade","qos":"","retain":"","broker":"9371cbad.480868","x":1510,"y":620,"wires":[]},{"id":"fef27357.abc99","type":"bigtimer","z":"f71e9d36.3ea46","outtopic":"lampadatv","outpayload1":"1","outpayload2":"0","name":"Timer lampada","lat":"44.03318","lon":"12.38469","starttime":"5004","endtime":"120","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":"480","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1140,"y":100,"wires":[["55327683.ef2918"],[],[]]},{"id":"d3e6f0ec.e861a","type":"bigtimer","z":"f71e9d36.3ea46","outtopic":"","outpayload1":"1","outpayload2":"0","name":"23 - 05 ?","lat":"44.03318","lon":"12.38469","starttime":"1380","endtime":"300","startoff":"0","endoff":0,"offs":0,"outtext1":"Notte","outtext2":"Giorno","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":415.00000762939453,"y":360.00000381469727,"wires":[["8fb1c290.31a2"],[],[]]},{"id":"f7228a0b.58ae98","type":"bigtimer","z":"40cad1d2.79e79","outtopic":"lampadatv","outpayload1":"1","outpayload2":"0","name":"Timer lampada","lat":"44.03318","lon":"12.38469","starttime":"5004","endtime":"60","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":600,"y":160,"wires":[["37f88821.896ac8"],[],[]]},{"id":"9bb5fe15.769fd","type":"bigtimer","z":"40cad1d2.79e79","outtopic":"lampadatv","outpayload1":"1","outpayload2":"0","name":"Timer bordo","lat":"44.03318","lon":"12.38469","starttime":"5004","endtime":"5003","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":550,"y":480,"wires":[["a71d3c5c.c9d8f"],[],[]]},{"id":"557e8fd0.96881","type":"ui_button","z":"f71e9d36.3ea46","name":"","group":"de7a0c3d.03167","order":2,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":130,"y":100,"wires":[["fcfebbae.2ed3b8","fef27357.abc99"]]},{"id":"9f10de1.76d4b2","type":"ui_button","z":"f71e9d36.3ea46","name":"","group":"de7a0c3d.03167","order":3,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"off","payloadType":"str","topic":"","x":130,"y":180,"wires":[["fcfebbae.2ed3b8","fef27357.abc99"]]},{"id":"fe518ead.2bbdf","type":"ui_button","z":"7f1101e8.2c842","name":"","group":"87bce9c3.c9f688","order":1,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"str","topic":"","x":250,"y":80,"wires":[["2de8dbd5.3fb124","6a13295b.733458"]]},{"id":"90137f29.4f07c","type":"ui_button","z":"7f1101e8.2c842","name":"","group":"87bce9c3.c9f688","order":2,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"str","topic":"","x":250,"y":140,"wires":[["2de8dbd5.3fb124","6a13295b.733458"]]},{"id":"a3f965a6.27f9f8","type":"ui_button","z":"f71e9d36.3ea46","name":"","group":"de7a0c3d.03167","order":4,"width":"2","height":"1","passthru":true,"label":"Auto","color":"","bgcolor":"blue","icon":"","payload":"auto","payloadType":"str","topic":"","x":270,"y":240,"wires":[["d28d5209.957f6","fef27357.abc99"]]},{"id":"9ae38cd3.85a4c","type":"ui_button","z":"40cad1d2.79e79","name":"","group":"caaf9195.c2ea9","order":2,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":310,"y":160,"wires":[["f7228a0b.58ae98","13f1e2ab.66562d"]]},{"id":"44ca226d.ddae1c","type":"ui_button","z":"40cad1d2.79e79","name":"","group":"caaf9195.c2ea9","order":3,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"off","payloadType":"str","topic":"","x":310,"y":220,"wires":[["f7228a0b.58ae98","13f1e2ab.66562d"]]},{"id":"383bf8ec.75be78","type":"ui_button","z":"40cad1d2.79e79","name":"","group":"caaf9195.c2ea9","order":4,"width":"2","height":"1","passthru":true,"label":"Auto","color":"","bgcolor":"blue","icon":"","payload":"auto","payloadType":"str","topic":"","x":310,"y":280,"wires":[["f7228a0b.58ae98","13f1e2ab.66562d"]]},{"id":"34876b7a.2d6374","type":"ui_button","z":"7f1101e8.2c842","name":"","group":"87bce9c3.c9f688","order":3,"width":"2","height":"1","passthru":true,"label":"Auto","color":"","bgcolor":"blue","icon":"","payload":"Auto","payloadType":"str","topic":"","x":310,"y":180,"wires":[["8611ce0f.8bacd"]]},{"id":"ae1a220e.06f2e","type":"ui_button","z":"95bfe7ac.e27f78","name":"","group":"42428252.18148c","order":3,"width":"0","height":"0","passthru":false,"label":"Raspberry Reboot","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":610,"y":80,"wires":[["354ce08c.0c8d6"]]},{"id":"87fc90bf.fbb93","type":"ui_button","z":"26beb945.9c8d36","name":"","group":"dbb73386.e4673","order":1,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"str","topic":"","x":450,"y":160,"wires":[["5cbb27c2.08e218"]]},{"id":"1828d620.d1df7a","type":"ui_button","z":"26beb945.9c8d36","name":"","group":"dbb73386.e4673","order":2,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"str","topic":"","x":450,"y":240,"wires":[["5cbb27c2.08e218"]]},{"id":"9b9c94a9.c28cd8","type":"ui_button","z":"40cad1d2.79e79","name":"","group":"faa678e3.1ab0e8","order":8,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"green","icon":"","payload":"on","payloadType":"str","topic":"","x":270,"y":480,"wires":[["9bb5fe15.769fd","bf00cb1.a8f1c38"]]},{"id":"d8afe511.fb97c8","type":"ui_button","z":"40cad1d2.79e79","name":"","group":"faa678e3.1ab0e8","order":9,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"off","payloadType":"str","topic":"","x":270,"y":540,"wires":[["9bb5fe15.769fd","bf00cb1.a8f1c38"]]},{"id":"68540dd2.fcdc24","type":"ui_button","z":"40cad1d2.79e79","name":"","group":"faa678e3.1ab0e8","order":10,"width":"2","height":"1","passthru":true,"label":"Auto","color":"","bgcolor":"blue","icon":"","payload":"auto","payloadType":"str","topic":"","x":270,"y":600,"wires":[["9bb5fe15.769fd","bf00cb1.a8f1c38"]]},{"id":"d9358da5.36717","type":"ui_button","z":"d65be59b.f4b948","name":"","group":"78783b43.f969c4","order":1,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"str","topic":"","x":390,"y":100,"wires":[["5e184020.b9f82"]]},{"id":"cb14fac7.fa7dc8","type":"ui_button","z":"d65be59b.f4b948","name":"","group":"78783b43.f969c4","order":2,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"str","topic":"","x":390,"y":180,"wires":[["5e184020.b9f82"]]},{"id":"46aae697.89a928","type":"ui_button","z":"d65be59b.f4b948","name":"","group":"69ab264d.9871e8","order":1,"width":"2","height":"1","passthru":false,"label":"On","color":"","bgcolor":"green","icon":"","payload":"1","payloadType":"str","topic":"","x":390,"y":400,"wires":[["76aa98ac.3d94f8"]]},{"id":"9590e868.510a88","type":"ui_button","z":"d65be59b.f4b948","name":"","group":"69ab264d.9871e8","order":2,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"0","payloadType":"str","topic":"","x":390,"y":480,"wires":[["76aa98ac.3d94f8"]]},{"id":"eadec05.61d824","type":"ui_button","z":"cc7afa88.dfaa58","name":"","group":"5ad749ca.a0c778","order":0,"width":0,"height":0,"passthru":false,"label":"Prova invio mail","color":"","bgcolor":"","icon":"","payload":"Rilevato movimento in casa !!!","payloadType":"str","topic":"","x":560,"y":160,"wires":[["3548a31a.dfc12c"]]},{"id":"2d6fea68.7001b6","type":"ui_button","z":"27139111.dd960e","name":"Sogg WiFi","group":"aa07781c.d3cd28","order":1,"width":"3","height":"1","passthru":false,"label":"Soggiorno - {{msg.payload}}","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1510,"y":180,"wires":[[]]},{"id":"14fb1ba1.b6cbc4","type":"ui_button","z":"27139111.dd960e","name":"Giardino WiFi","group":"aa07781c.d3cd28","order":2,"width":"3","height":"1","passthru":false,"label":"Giardino - {{msg.payload}}","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1580,"y":600,"wires":[[]]},{"id":"d1870bdf.8c5508","type":"ui_button","z":"27139111.dd960e","name":"Cucina WiFi","group":"aa07781c.d3cd28","order":5,"width":"3","height":"1","passthru":false,"label":"Cucina  - {{msg.payload}}","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1590,"y":840,"wires":[[]]},{"id":"2e61e0ce.83e5f","type":"ui_button","z":"27139111.dd960e","name":"Garage WiFi","group":"aa07781c.d3cd28","order":3,"width":"3","height":"1","passthru":false,"label":"Garage - {{msg.payload}}","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1610,"y":1120,"wires":[[]]},{"id":"c4d06212.7a96e","type":"ui_button","z":"27139111.dd960e","name":"Camerina WiFi","group":"aa07781c.d3cd28","order":4,"width":"3","height":"1","passthru":false,"label":"Camerina - {{msg.payload}}","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1600,"y":1420,"wires":[[]]},{"id":"2f7d60d1.5a11","type":"ui_button","z":"af63d9cb.310c78","name":"","group":"24873fed.0bad9","order":12,"width":"3","height":"1","passthru":true,"label":"Restart","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":220,"y":300,"wires":[["c8aed98.a8ccc28","f4e71e28.ed9ed","fbac716e.876f3","70bb3931.404468","e8da82cf.b1a7"]]},{"id":"abd912a7.fae57","type":"ui_button","z":"af63d9cb.310c78","name":"","group":"24873fed.0bad9","order":11,"width":"3","height":"1","passthru":false,"label":"Upgrade","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":1100,"y":300,"wires":[["a3ef121f.5181f","b9be9258.0ded8","6bb7ce4b.cc056","8b99c04b.b367b","bd96e045.6faa4"]]},{"id":"65de896e.df5778","type":"ui_switch","z":"7c2ce76c.0288d8","name":"","label":"Rele 4","group":"6ff8f1d.0ed2b1","order":8,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":230,"y":120,"wires":[["5d946e2.c20569"]]},{"id":"fab1a103.ab1f7","type":"ui_switch","z":"7c2ce76c.0288d8","name":"","label":"Rele 3","group":"d2f9fa16.d468a8","order":6,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":230,"y":360,"wires":[["fdf5f7f6.ac75b8"]]},{"id":"cd9bcc88.96b5e","type":"ui_switch","z":"7c2ce76c.0288d8","name":"","label":"Rele 4","group":"d2f9fa16.d468a8","order":8,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":217.00000190734863,"y":642.0000057220459,"wires":[["b89c8da.9a9587"]]},{"id":"391f2b11.e3bba4","type":"ui_text","z":"f71e9d36.3ea46","group":"de7a0c3d.03167","order":5,"width":"3","height":"1","name":"Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":520,"wires":[]},{"id":"64ab6af0.8e7d84","type":"ui_text","z":"f71e9d36.3ea46","group":"de7a0c3d.03167","order":6,"width":"3","height":"1","name":"Command","label":"","format":"{{msg.payload}}","layout":"col-center","x":870,"y":180,"wires":[]},{"id":"c06ee6.30ff8118","type":"ui_text","z":"7f1101e8.2c842","group":"87bce9c3.c9f688","order":5,"width":"2","height":"1","name":"Telecamera Soggiorno Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":960,"y":140,"wires":[]},{"id":"f76a7341.e1749","type":"ui_text","z":"7c2ce76c.0288d8","group":"6ff8f1d.0ed2b1","order":9,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":220,"wires":[]},{"id":"af031bb9.24e768","type":"ui_text","z":"40cad1d2.79e79","group":"caaf9195.c2ea9","order":5,"width":"3","height":"1","name":"Stato","label":"","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":60,"wires":[]},{"id":"4d0851ee.38418","type":"ui_text","z":"40cad1d2.79e79","group":"caaf9195.c2ea9","order":6,"width":"3","height":"1","name":"Command","label":"","format":"{{msg.payload}}","layout":"col-center","x":810,"y":280,"wires":[]},{"id":"ef086103.0bae2","type":"ui_text","z":"7f1101e8.2c842","group":"87bce9c3.c9f688","order":4,"width":"2","height":"1","name":"Telecamera soggiorno Power","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":260,"wires":[]},{"id":"63c6fd18.60bbf4","type":"ui_text","z":"26beb945.9c8d36","group":"dbb73386.e4673","order":3,"width":"2","height":"1","name":"Stato","label":"","format":"{{msg.payload}}","layout":"row-left","x":1110,"y":360,"wires":[]},{"id":"494223b1.a9febc","type":"ui_text","z":"40cad1d2.79e79","group":"faa678e3.1ab0e8","order":11,"width":"3","height":"1","name":"Stato","label":"","format":"{{msg.payload}}","layout":"col-center","x":1310,"y":400,"wires":[]},{"id":"fa35bb0d.88a5a8","type":"ui_text","z":"40cad1d2.79e79","group":"faa678e3.1ab0e8","order":12,"width":"3","height":"1","name":"Command","label":"","format":"{{msg.payload}}","layout":"col-center","x":770,"y":600,"wires":[]},{"id":"ef200f81.ec388","type":"ui_text","z":"d65be59b.f4b948","group":"78783b43.f969c4","order":3,"width":"2","height":"1","name":"Stato","label":"","format":"{{msg.payload}}","layout":"row-left","x":890,"y":280,"wires":[]},{"id":"f0130833.38c6b8","type":"ui_text","z":"d65be59b.f4b948","group":"69ab264d.9871e8","order":3,"width":"2","height":"1","name":"Stato","label":"","format":"{{msg.payload}}","layout":"row-left","x":890,"y":580,"wires":[]},{"id":"21c3566.43ba1aa","type":"ui_text","z":"7c2ce76c.0288d8","group":"d2f9fa16.d468a8","order":7,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":460,"wires":[]},{"id":"83c2de04.bc55","type":"ui_text","z":"7c2ce76c.0288d8","group":"d2f9fa16.d468a8","order":9,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1170,"y":700,"wires":[]},{"id":"52b8ef8.aba151","type":"bigexec","z":"95bfe7ac.e27f78","name":"Turn Off WiFi Power Management","command":"sudo iwconfig wlan0 power off","commandArgs":"","minError":1,"minWarning":1,"cwd":"","shell":true,"extraArgumentProperty":"","envProperty":"","format":"","limiter":true,"payloadIs":"triggerNoStdin","x":660,"y":160,"wires":[[],[],[]]},{"id":"71fa9178.eeb97","type":"delay","z":"27139111.dd960e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":140,"wires":[["e69080a8.9ff3b"]]},{"id":"c8987ce0.d3a4d","type":"delay","z":"27139111.dd960e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":540,"wires":[["60553a61.d5aab4"]]},{"id":"82f338b7.3ebc78","type":"delay","z":"27139111.dd960e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":780,"wires":[["626339aa.0d4a38"]]},{"id":"39f16d0a.455512","type":"delay","z":"27139111.dd960e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1120,"wires":[["1923129f.bb00dd"]]},{"id":"52433030.37308","type":"delay","z":"27139111.dd960e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":1400,"wires":[["23b6a463.87882c"]]},{"id":"4ddb5d6a.104404","type":"mqtt in","z":"bd22ace0.966bd","name":"","topic":"stat/nodemcu_garage/POWER1","qos":"2","broker":"9371cbad.480868","x":290,"y":660,"wires":[["f149b311.c8b67"]]},{"id":"f149b311.c8b67","type":"switch","z":"bd22ace0.966bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":780,"wires":[["beae5f52.4459d"],["61cb87e8.5846d8"]]},{"id":"beae5f52.4459d","type":"change","z":"bd22ace0.966bd","name":"Movimento","rules":[{"t":"set","p":"payload","pt":"msg","to":"MOVIMENTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":740,"wires":[["ff421d72.88be8"]]},{"id":"4a7669b3.eaaeb8","type":"change","z":"bd22ace0.966bd","name":"Attivo","rules":[{"t":"set","p":"payload","pt":"msg","to":"Attivo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":800,"wires":[["c8756a10.7cb5e8"]]},{"id":"687cc539.3bb40c","type":"change","z":"bd22ace0.966bd","name":"red","rules":[{"t":"set","p":"colour","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":680,"wires":[["fa4ec6ec.d7be18","7193a82a.81f8f8"]]},{"id":"c8756a10.7cb5e8","type":"change","z":"bd22ace0.966bd","name":"green","rules":[{"t":"set","p":"colour","pt":"msg","to":"#00ff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":800,"wires":[["fa4ec6ec.d7be18"]]},{"id":"fa4ec6ec.d7be18","type":"ui_button","z":"bd22ace0.966bd","name":"","group":"a65e9b1.f5af668","order":1,"width":"6","height":"1","passthru":false,"label":"{{msg.payload}}","color":"black","bgcolor":"{{msg.colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":1270,"y":780,"wires":[[]]},{"id":"352ca84a.956c28","type":"change","z":"bd22ace0.966bd","name":"Disattivo","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disattivo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":860,"wires":[["71490606.6417d8"]]},{"id":"71490606.6417d8","type":"change","z":"bd22ace0.966bd","name":"yellow","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ffff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":860,"wires":[["fa4ec6ec.d7be18"]]},{"id":"7df1e21f.f3411c","type":"ui_button","z":"bd22ace0.966bd","name":"","group":"a65e9b1.f5af668","order":3,"width":"2","height":"1","passthru":true,"label":"On","color":"","bgcolor":"green","icon":"","payload":"Attivo","payloadType":"str","topic":"","x":270,"y":460,"wires":[["f914020f.a1924","7a5a9833.8c2958"]]},{"id":"fee2648.aa94498","type":"ui_button","z":"bd22ace0.966bd","name":"","group":"a65e9b1.f5af668","order":4,"width":"2","height":"1","passthru":true,"label":"Off","color":"","bgcolor":"red","icon":"","payload":"Disattivo","payloadType":"str","topic":"","x":270,"y":380,"wires":[["f914020f.a1924","dedaef8.ec2ee1"]]},{"id":"29fcdb15.5d0804","type":"ui_button","z":"bd22ace0.966bd","name":"","group":"a65e9b1.f5af668","order":5,"width":"2","height":"1","passthru":true,"label":"Auto","color":"","bgcolor":"blue","icon":"","payload":"Auto","payloadType":"str","topic":"","x":490,"y":540,"wires":[["3188ec83.6d0ca4"]]},{"id":"65058c86.d92264","type":"ui_text","z":"bd22ace0.966bd","group":"a65e9b1.f5af668","order":6,"width":"3","height":"1","name":"Mode","label":"","format":"{{msg.payload}}","layout":"col-center","x":1230,"y":480,"wires":[]},{"id":"76496604.80c0a8","type":"ui_text","z":"bd22ace0.966bd","group":"a65e9b1.f5af668","order":7,"width":"3","height":"1","name":"Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":1550,"y":280,"wires":[]},{"id":"97d89b90.82edd8","type":"inject","z":"bd22ace0.966bd","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"1","x":310,"y":540,"wires":[["29fcdb15.5d0804"]]},{"id":"9b140c10.d38d7","type":"switch","z":"bd22ace0.966bd","name":"maxhome == false","property":"maxhome","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":80,"wires":[["3d26b50.76e764c"]]},{"id":"3d26b50.76e764c","type":"switch","z":"bd22ace0.966bd","name":"robihome == false","property":"robihome","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":80,"wires":[["63641e61.4ccb1"]]},{"id":"3188ec83.6d0ca4","type":"change","z":"bd22ace0.966bd","name":"pir_garage_mode = Auto","rules":[{"t":"set","p":"payload","pt":"msg","to":"Auto","tot":"str"},{"t":"set","p":"pir_garage_mode","pt":"flow","to":"Auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":540,"wires":[["65058c86.d92264","3f12b19b.3447ee"]]},{"id":"f914020f.a1924","type":"change","z":"bd22ace0.966bd","name":"pir_garage_mode = Manuale","rules":[{"t":"set","p":"payload","pt":"msg","to":"Manuale","tot":"str"},{"t":"set","p":"pir_garage_mode","pt":"flow","to":"Manuale","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":460,"wires":[["65058c86.d92264"]]},{"id":"b99808ce.06da08","type":"change","z":"bd22ace0.966bd","name":"orange","rules":[{"t":"set","p":"colour","pt":"msg","to":"#ffa500","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":740,"wires":[["fa4ec6ec.d7be18"]]},{"id":"61cb87e8.5846d8","type":"switch","z":"bd22ace0.966bd","name":"pir_garage_status","property":"pir_garage_status","propertyType":"flow","rules":[{"t":"eq","v":"Attivo","vt":"str"},{"t":"eq","v":"Disattivo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":840,"wires":[["4a7669b3.eaaeb8"],["352ca84a.956c28"]]},{"id":"87339cd9.68dd6","type":"switch","z":"bd22ace0.966bd","name":"maxhome == true","property":"maxhome","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":160,"wires":[["d26b53e9.231a2"]]},{"id":"5d6dc7bf.46c458","type":"switch","z":"bd22ace0.966bd","name":"robihome== true","property":"robihome","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":200,"wires":[["d26b53e9.231a2"]]},{"id":"3f12b19b.3447ee","type":"switch","z":"bd22ace0.966bd","name":"pir_garage_mode == Auto","property":"pir_garage_mode","propertyType":"flow","rules":[{"t":"eq","v":"Auto","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":160,"wires":[["87339cd9.68dd6","9b140c10.d38d7","5d6dc7bf.46c458"]]},{"id":"63641e61.4ccb1","type":"change","z":"bd22ace0.966bd","name":"pir_garage_status = Attivo","rules":[{"t":"set","p":"pir_garage_status","pt":"flow","to":"Attivo","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Attivo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":120,"wires":[["76496604.80c0a8","74d0d361.60ab6c"]]},{"id":"ff421d72.88be8","type":"switch","z":"bd22ace0.966bd","name":"pir_garage_status","property":"pir_garage_status","propertyType":"flow","rules":[{"t":"eq","v":"Attivo","vt":"str"},{"t":"eq","v":"Disattivo","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":720,"wires":[["687cc539.3bb40c"],["b99808ce.06da08"]]},{"id":"2de8dbd5.3fb124","type":"change","z":"7f1101e8.2c842","name":"sogg_cam_mode = Manuale","rules":[{"t":"set","p":"sogg_cam_mode","pt":"flow","to":"Manuale","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Manuale","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["c06ee6.30ff8118","2a99f26.519b80e"]]},{"id":"8611ce0f.8bacd","type":"change","z":"7f1101e8.2c842","name":"sogg_cam_mode = Auto","rules":[{"t":"set","p":"sogg_cam_mode","pt":"flow","to":"Auto","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["c06ee6.30ff8118","2a99f26.519b80e"]]},{"id":"cdb9e2f.dc94c2","type":"switch","z":"7f1101e8.2c842","name":"Sogg Cam Power","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":260,"wires":[["f65518b.618ede8"],["318d7ee5.b1f502"]]},{"id":"f65518b.618ede8","type":"change","z":"7f1101e8.2c842","name":"Accesa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Accesa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":240,"wires":[["7a39fa12.996834"]]},{"id":"318d7ee5.b1f502","type":"change","z":"7f1101e8.2c842","name":"Spenta","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spenta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["e1fc115a.7c67c"]]},{"id":"2be90712.f76d48","type":"inject","z":"7f1101e8.2c842","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":1050,"y":440,"wires":[["8c78fb44.af2068"]]},{"id":"657a620d.bca5cc","type":"ui_text","z":"7f1101e8.2c842","group":"87bce9c3.c9f688","order":6,"width":"2","height":"1","name":"Telecamera Soggiorno WiFi","label":"","format":"{{msg.payload}}","layout":"col-center","x":1520,"y":400,"wires":[]},{"id":"fa4cdda2.3b6a4","type":"switch","z":"7f1101e8.2c842","name":"Ping Camera","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":400,"wires":[["e75b238e.e0718"],["8c78fb44.af2068"]]},{"id":"e75b238e.e0718","type":"change","z":"7f1101e8.2c842","name":"Connessa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Connessa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":380,"wires":[["657a620d.bca5cc"]]},{"id":"8c78fb44.af2068","type":"change","z":"7f1101e8.2c842","name":"Disconnessa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disconn.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":420,"wires":[["657a620d.bca5cc"]]},{"id":"7e39eb3b.e72cd4","type":"inject","z":"7f1101e8.2c842","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":510,"y":300,"wires":[["318d7ee5.b1f502"]]},{"id":"5534c6cc.763e68","type":"adv ping","z":"7f1101e8.2c842","name":"Ping Camera Soggiorno","host":"192.168.1.8","x":790,"y":400,"wires":[["fa4cdda2.3b6a4"]]},{"id":"7a39fa12.996834","type":"change","z":"7f1101e8.2c842","name":"sogg_cam_power = ON","rules":[{"t":"set","p":"sogg_cam_power","pt":"flow","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":240,"wires":[["ef086103.0bae2"]]},{"id":"e1fc115a.7c67c","type":"change","z":"7f1101e8.2c842","name":"sogg_cam_power = OFF","rules":[{"t":"set","p":"sogg_cam_power","pt":"flow","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":280,"wires":[["ef086103.0bae2"]]},{"id":"e503fa30.e976c8","type":"switch","z":"7f1101e8.2c842","name":"Sogg Cam Power","property":"sogg_cam_power","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":400,"wires":[["5534c6cc.763e68"]]},{"id":"72261d.0575d9e4","type":"exec","z":"7f1101e8.2c842","command":"sudo l2ping -c1 4c:a5:6d:2d:99:04","addpay":false,"append":"","useSpawn":"false","timer":"12","oldrc":false,"name":"Ping Robi Bluetooth","x":380,"y":1320,"wires":[[],[],["5d48634b.1b965c"]]},{"id":"2c20782a.6faae8","type":"inject","z":"7f1101e8.2c842","name":"Repeat 45s","topic":"","payload":"true","payloadType":"bool","repeat":"45","crontab":"","once":true,"onceDelay":"1","x":110,"y":620,"wires":[["e503fa30.e976c8","2848842a.dd61ac","92cc0904.765118"]]},{"id":"312dd85d.13d928","type":"change","z":"7f1101e8.2c842","name":"Fuori casa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fuori casa","tot":"str"},{"t":"set","p":"robihome","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1480,"wires":[["baab1312.25549","5a4c4e2e.3c47"]]},{"id":"6860ab5f.76e1e4","type":"adv ping","z":"7f1101e8.2c842","name":"Robi Phone WiFi","host":"192.168.1.5","x":690,"y":1320,"wires":[["787e4988.9f55e8"]]},{"id":"baab1312.25549","type":"ui_text","z":"7f1101e8.2c842","group":"bd8dc52.7728b38","order":4,"width":"3","height":"1","name":"","label":"Robi","format":"{{msg.payload}}","layout":"col-center","x":1730,"y":1400,"wires":[]},{"id":"81020a03.a9eb38","type":"switch","z":"7f1101e8.2c842","name":"maxhome = true","property":"maxhome","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":1560,"wires":[["86a2ec47.59e93"]]},{"id":"6a5d1dce.74afa4","type":"switch","z":"7f1101e8.2c842","name":"robihome = true","property":"robihome","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":1600,"wires":[["86a2ec47.59e93"]]},{"id":"9280d548.38f438","type":"switch","z":"7f1101e8.2c842","name":"sogg_cam_mode == Auto","property":"sogg_cam_mode","propertyType":"flow","rules":[{"t":"eq","v":"Auto","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":1560,"wires":[["81020a03.a9eb38","f8aaf9fb.316ac8","6a5d1dce.74afa4"]]},{"id":"f8aaf9fb.316ac8","type":"switch","z":"7f1101e8.2c842","name":"maxhome = false","property":"maxhome","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1660,"wires":[["9e7b8eb4.62443"]]},{"id":"9e7b8eb4.62443","type":"switch","z":"7f1101e8.2c842","name":"robihome = false","property":"robihome","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":1660,"wires":[["3ce85541.14528a"]]},{"id":"3ce85541.14528a","type":"change","z":"7f1101e8.2c842","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1660,"wires":[["19d2f895.2ff7e7"]]},{"id":"86a2ec47.59e93","type":"change","z":"7f1101e8.2c842","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1560,"wires":[["19d2f895.2ff7e7"]]},{"id":"d26b53e9.231a2","type":"change","z":"bd22ace0.966bd","name":"pir_garage_status = Disattivo","rules":[{"t":"set","p":"pir_garage_status","pt":"flow","to":"Disattivo","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Disattivo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":180,"wires":[["76496604.80c0a8","74d0d361.60ab6c"]]},{"id":"f890d0f4.ba6a3","type":"link in","z":"f71e9d36.3ea46","name":"tvstatus","links":["838022b6.838a9","626a5170.c3982","38d9e04f.645a","3348140c.85c4ec"],"x":115,"y":40,"wires":[["f43ba85e.74d108"]]},{"id":"a048115b.2f833","type":"change","z":"f71e9d36.3ea46","name":"Accesa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Accesa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":500,"wires":[["391f2b11.e3bba4"]]},{"id":"d4c6d437.af6a48","type":"change","z":"f71e9d36.3ea46","name":"Spenta","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spenta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":540,"wires":[["391f2b11.e3bba4"]]},{"id":"1fc8db69.b0cbe5","type":"switch","z":"f71e9d36.3ea46","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":520,"wires":[["a048115b.2f833"],["d4c6d437.af6a48"]]},{"id":"2b4a39e8.162906","type":"change","z":"f71e9d36.3ea46","name":"isnight = true","rules":[{"t":"set","p":"isnight","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[[]]},{"id":"8fb1c290.31a2","type":"switch","z":"f71e9d36.3ea46","name":"0 / 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":360,"wires":[["a06abeb3.af2de"],["2b4a39e8.162906"]]},{"id":"a06abeb3.af2de","type":"change","z":"f71e9d36.3ea46","name":"isnight = false","rules":[{"t":"set","p":"isnight","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":340,"wires":[[]]},{"id":"d28d5209.957f6","type":"change","z":"f71e9d36.3ea46","name":"lamp_auto = true","rules":[{"t":"set","p":"lamp_auto","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Auto timer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[["64ab6af0.8e7d84"]]},{"id":"fcfebbae.2ed3b8","type":"change","z":"f71e9d36.3ea46","name":"lamp_auto = false","rules":[{"t":"set","p":"lamp_auto","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Manuale","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["64ab6af0.8e7d84"]]},{"id":"f43ba85e.74d108","type":"switch","z":"f71e9d36.3ea46","name":"tvstatus == Spegnimento","property":"tvstatus","propertyType":"flow","rules":[{"t":"eq","v":"Spegnimento","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":40,"wires":[["28ffa876.835f88"]]},{"id":"28ffa876.835f88","type":"switch","z":"f71e9d36.3ea46","name":"lamp_auto== true","property":"lamp_auto","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":40,"wires":[["eee9772.55a4488"]]},{"id":"eee9772.55a4488","type":"switch","z":"f71e9d36.3ea46","name":"isnight== true","property":"isnight","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":40,"wires":[["fa48ee25.ce17b"]]},{"id":"fa48ee25.ce17b","type":"change","z":"f71e9d36.3ea46","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":40,"wires":[["fef27357.abc99"]]},{"id":"ced4075f.b1c078","type":"change","z":"26beb945.9c8d36","name":"Accese","rules":[{"t":"set","p":"payload","pt":"msg","to":"Accese","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":320,"wires":[["63c6fd18.60bbf4"]]},{"id":"898d7d2a.90586","type":"change","z":"26beb945.9c8d36","name":"Spente","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":400,"wires":[["63c6fd18.60bbf4"]]},{"id":"20f0c349.5e850c","type":"switch","z":"26beb945.9c8d36","name":"ON / OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":360,"wires":[["ced4075f.b1c078"],["898d7d2a.90586"]]},{"id":"2a99f26.519b80e","type":"link out","z":"7f1101e8.2c842","name":"","links":["46de3ef2.c83d4"],"x":815,"y":180,"wires":[]},{"id":"46de3ef2.c83d4","type":"link in","z":"7f1101e8.2c842","name":"","links":["2a99f26.519b80e","1aef39aa.1967d6","5a4c4e2e.3c47","e6a3d04f.3340a"],"x":115,"y":1560,"wires":[["9280d548.38f438"]]},{"id":"1aef39aa.1967d6","type":"link out","z":"7f1101e8.2c842","name":"Max in casa status","links":["46de3ef2.c83d4","6233d1d8.85a07","2806ee01.719ea2"],"x":1895,"y":700,"wires":[]},{"id":"5a4c4e2e.3c47","type":"link out","z":"7f1101e8.2c842","name":"Robi in casa status","links":["46de3ef2.c83d4","2806ee01.719ea2"],"x":1655,"y":1320,"wires":[]},{"id":"3e7cfadc.c919e6","type":"ui_text","z":"f71e9d36.3ea46","group":"2bfef73b.00bdd8","order":0,"width":"6","height":"1","name":"Televisione","label":"","format":"{{msg.payload}}","layout":"col-center","x":1950,"y":700,"wires":[]},{"id":"f7abcbae.d86048","type":"inject","z":"f71e9d36.3ea46","name":"30s","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":700,"wires":[["53fff55a.2bdb2c"]]},{"id":"1af09d19.959543","type":"adv ping","z":"f71e9d36.3ea46","name":"Ping Tv WiFi","host":"192.168.1.10","x":430,"y":780,"wires":[["a731e912.1e2b18"]]},{"id":"2b260054.dbf3e","type":"change","z":"f71e9d36.3ea46","name":"tvstatus = Spenta","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spenta","tot":"str"},{"t":"set","p":"tvstatus","pt":"flow","to":"Spenta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":820,"wires":[["626a5170.c3982","3e7cfadc.c919e6"]]},{"id":"125e99fc.3de1b6","type":"change","z":"f71e9d36.3ea46","name":"tvstatus = Accesa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Accesa","tot":"str"},{"t":"set","p":"tvstatus","pt":"flow","to":"Accesa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":700,"wires":[["626a5170.c3982","3e7cfadc.c919e6"]]},{"id":"8a814b3e.27adc8","type":"change","z":"f71e9d36.3ea46","name":"tvstatus = Spegnimento","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spegnimento","tot":"str"},{"t":"set","p":"tvstatus","pt":"flow","to":"Spegnimento","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":780,"wires":[["626a5170.c3982","3e7cfadc.c919e6"]]},{"id":"5acd10bf.012c3","type":"switch","z":"f71e9d36.3ea46","name":"tvstatus == Accesa","property":"tvstatus","propertyType":"flow","rules":[{"t":"eq","v":"Accesa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":780,"wires":[["8a814b3e.27adc8"]]},{"id":"83dd2f6d.ccb99","type":"switch","z":"f71e9d36.3ea46","name":"tvstatus == Spegnimento","property":"tvstatus","propertyType":"flow","rules":[{"t":"eq","v":"Spegnimento","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1430,"y":820,"wires":[["2b260054.dbf3e"]]},{"id":"626a5170.c3982","type":"link out","z":"f71e9d36.3ea46","name":"","links":["f890d0f4.ba6a3"],"x":1955,"y":760,"wires":[]},{"id":"3aa9df80.0ab53","type":"change","z":"f71e9d36.3ea46","name":"tvcounter = 0","rules":[{"t":"set","p":"tvcounter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":700,"wires":[["125e99fc.3de1b6"]]},{"id":"8fceed38.5298","type":"switch","z":"f71e9d36.3ea46","name":"tvstatus == Spenta","property":"tvstatus","propertyType":"flow","rules":[{"t":"eq","v":"Spenta","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":860,"wires":[["5c08404f.7f128"]]},{"id":"f45a9e82.6f294","type":"inject","z":"f71e9d36.3ea46","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":940,"wires":[["5c08404f.7f128","41e7a4f1.c5ba8c"]]},{"id":"d110722a.805f","type":"inject","z":"7f1101e8.2c842","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":1050,"y":1240,"wires":[["6c1ec9bf.737df8"]]},{"id":"a530319.c0647d","type":"switch","z":"7f1101e8.2c842","name":"robicounter == 0","property":"robicounter","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":1540,"wires":[["8f0f7061.ac0f5"]]},{"id":"8f0f7061.ac0f5","type":"change","z":"7f1101e8.2c842","name":"robicounter = 1","rules":[{"t":"set","p":"robicounter","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1540,"wires":[[]]},{"id":"fc7b5702.7d6708","type":"switch","z":"7f1101e8.2c842","name":"robicounter == 1","property":"robicounter","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":1580,"wires":[["e2f18d0d.7109c"]]},{"id":"e2f18d0d.7109c","type":"change","z":"7f1101e8.2c842","name":"robicounter = 2","rules":[{"t":"set","p":"robicounter","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1580,"wires":[[]]},{"id":"c3e31cbd.62d0f","type":"switch","z":"7f1101e8.2c842","name":"robicounter == 2","property":"robicounter","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":1620,"wires":[["1eefd07f.8956c"]]},{"id":"1eefd07f.8956c","type":"change","z":"7f1101e8.2c842","name":"robicounter = 3","rules":[{"t":"set","p":"robicounter","pt":"flow","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1620,"wires":[[]]},{"id":"28b5fa61.d49686","type":"switch","z":"7f1101e8.2c842","name":"robicounter == 3","property":"robicounter","propertyType":"flow","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":1660,"wires":[["312dd85d.13d928"]]},{"id":"6c1ec9bf.737df8","type":"change","z":"7f1101e8.2c842","name":"robihome = true / robicounter = 0 / msg = In casa","rules":[{"t":"set","p":"robicounter","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"In casa","tot":"str"},{"t":"set","p":"robihome","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1280,"wires":[["5a4c4e2e.3c47","baab1312.25549"]]},{"id":"dedaef8.ec2ee1","type":"change","z":"bd22ace0.966bd","name":"pir_garage_status = Disattivo","rules":[{"t":"set","p":"pir_garage_status","pt":"flow","to":"Disattivo","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Disattivo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":360,"wires":[["76496604.80c0a8","74d0d361.60ab6c"]]},{"id":"7a5a9833.8c2958","type":"change","z":"bd22ace0.966bd","name":"pir_garage_status = Attivo","rules":[{"t":"set","p":"pir_garage_status","pt":"flow","to":"Attivo","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Attivo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":400,"wires":[["76496604.80c0a8","74d0d361.60ab6c"]]},{"id":"74d0d361.60ab6c","type":"link out","z":"bd22ace0.966bd","name":"Pir Garage Status change","links":["58af37ee.60be28"],"x":1275,"y":380,"wires":[]},{"id":"58af37ee.60be28","type":"link in","z":"bd22ace0.966bd","name":"","links":["74d0d361.60ab6c"],"x":340,"y":900,"wires":[["61cb87e8.5846d8"]]},{"id":"dc6cec57.305fe","type":"inject","z":"bd22ace0.966bd","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":160,"wires":[["3f12b19b.3447ee"]]},{"id":"f7d2aa86.3240d8","type":"trigger","z":"27139111.dd960e","op1":"nd","op2":"nd","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":1090,"y":460,"wires":[["94c7ce82.5c759"]]},{"id":"650eb134.57bb7","type":"trigger","z":"27139111.dd960e","op1":"nd","op2":"nd","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":910,"y":60,"wires":[["7e6606fb.98b278"]]},{"id":"a5b186ee.682f58","type":"trigger","z":"27139111.dd960e","op1":"nd","op2":"nd","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":1050,"y":700,"wires":[["5b22f89d.c7f118"]]},{"id":"e51d4f5e.dcbf","type":"trigger","z":"27139111.dd960e","op1":"nd","op2":"nd","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":1090,"y":1040,"wires":[["3e7d2b72.623944"]]},{"id":"8c628981.b9a778","type":"trigger","z":"27139111.dd960e","op1":"nd","op2":"nd","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":1070,"y":1320,"wires":[["6a6670dc.af11f"]]},{"id":"34d0013e.ff5d6e","type":"switch","z":"f71e9d36.3ea46","name":"tvcounter == 0","property":"tvcounter","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":860,"wires":[["fc768e63.3520e"]]},{"id":"fc768e63.3520e","type":"change","z":"f71e9d36.3ea46","name":"tvcounter = 1","rules":[{"t":"set","p":"tvcounter","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":860,"wires":[[]]},{"id":"6efa8b13.d67194","type":"switch","z":"f71e9d36.3ea46","name":"tvcounter == 1","property":"tvcounter","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":900,"wires":[["f42dfe5d.17d42"]]},{"id":"f42dfe5d.17d42","type":"change","z":"f71e9d36.3ea46","name":"tvcounter = 2","rules":[{"t":"set","p":"tvcounter","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":900,"wires":[[]]},{"id":"189300f7.1d8b2f","type":"switch","z":"f71e9d36.3ea46","name":"tvcounter == 2","property":"tvcounter","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":940,"wires":[["ef40ccb5.2daf6"]]},{"id":"ef40ccb5.2daf6","type":"change","z":"f71e9d36.3ea46","name":"tvcounter = 3","rules":[{"t":"set","p":"tvcounter","pt":"flow","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":940,"wires":[[]]},{"id":"27e09b9a.219e34","type":"switch","z":"f71e9d36.3ea46","name":"tvcounter == 4","property":"tvcounter","propertyType":"flow","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":1080,"wires":[["5acd10bf.012c3","83dd2f6d.ccb99","8fceed38.5298"]]},{"id":"5c08404f.7f128","type":"change","z":"f71e9d36.3ea46","name":"tvstatus = Spenta","rules":[{"t":"set","p":"payload","pt":"msg","to":"Spenta","tot":"str"},{"t":"set","p":"tvstatus","pt":"flow","to":"Spenta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":860,"wires":[["626a5170.c3982","3e7cfadc.c919e6"]]},{"id":"41e7a4f1.c5ba8c","type":"change","z":"f71e9d36.3ea46","name":"tvcounter = 0","rules":[{"t":"set","p":"tvcounter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":940,"wires":[[]]},{"id":"ef8c0a57.9e6648","type":"mqtt out","z":"bd22ace0.966bd","name":"","topic":"cmnd/nodemcu_garage/POWER2","qos":"2","retain":"true","broker":"9371cbad.480868","x":1500,"y":880,"wires":[]},{"id":"62bf4d1.d312cb4","type":"exec","z":"7f1101e8.2c842","command":"sudo l2ping -c1 5c:c3:07:45:d7:79","addpay":false,"append":"","useSpawn":"false","timer":"12","oldrc":false,"name":"Ping Max Bluetooth","x":430,"y":760,"wires":[[],[],["cbcbf06b.8a0df"]]},{"id":"cbcbf06b.8a0df","type":"switch","z":"7f1101e8.2c842","name":"Code == 0","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":900,"wires":[["f3ef97.20c19068"]]},{"id":"16e12321.fe5fad","type":"change","z":"7f1101e8.2c842","name":"Fuori casa","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fuori casa","tot":"str"},{"t":"set","p":"maxhome","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":800,"wires":[["5721ac61.eb1ab4","1aef39aa.1967d6"]]},{"id":"abc078cb.512c88","type":"adv ping","z":"7f1101e8.2c842","name":"Max Phone WiFi","host":"192.168.1.4","x":700,"y":700,"wires":[["4d51dd3d.0ba074"]]},{"id":"5721ac61.eb1ab4","type":"ui_text","z":"7f1101e8.2c842","group":"bd8dc52.7728b38","order":3,"width":"3","height":"1","name":"","label":"Max","format":"{{msg.payload}}","layout":"col-center","x":1910,"y":800,"wires":[]},{"id":"6c11d7cf.92fa48","type":"switch","z":"7f1101e8.2c842","name":"maxcounter== 0","property":"maxcounter","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":880,"wires":[["65061d29.eba4c4"]]},{"id":"65061d29.eba4c4","type":"change","z":"7f1101e8.2c842","name":"maxcounter = 1","rules":[{"t":"set","p":"maxcounter","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":880,"wires":[[]]},{"id":"4d51dd3d.0ba074","type":"switch","z":"7f1101e8.2c842","name":"Number ?","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":800,"wires":[["f3ef97.20c19068"]]},{"id":"a93859.334397a8","type":"switch","z":"7f1101e8.2c842","name":"maxcounter== 1","property":"maxcounter","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":920,"wires":[["9786f637.0a5f68"]]},{"id":"9786f637.0a5f68","type":"change","z":"7f1101e8.2c842","name":"maxcounter = 2","rules":[{"t":"set","p":"maxcounter","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":920,"wires":[[]]},{"id":"11455903.ebb917","type":"switch","z":"7f1101e8.2c842","name":"maxcounter== 2","property":"maxcounter","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1420,"y":960,"wires":[["63022d0.9de45d4"]]},{"id":"63022d0.9de45d4","type":"change","z":"7f1101e8.2c842","name":"maxcounter = 3","rules":[{"t":"set","p":"maxcounter","pt":"flow","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":960,"wires":[[]]},{"id":"3648d90f.d7a876","type":"switch","z":"7f1101e8.2c842","name":"maxcounter == 3","property":"maxcounter","propertyType":"flow","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":1020,"wires":[["16e12321.fe5fad"]]},{"id":"3d42f1df.a3399e","type":"change","z":"7f1101e8.2c842","name":"maxhome = true / maxcounter = 0 / msg = In Casa","rules":[{"t":"set","p":"maxcounter","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"In casa","tot":"str"},{"t":"set","p":"maxhome","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":680,"wires":[["5721ac61.eb1ab4","1aef39aa.1967d6"]]},{"id":"dab89f62.831a5","type":"inject","z":"7f1101e8.2c842","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":1030,"y":620,"wires":[["3d42f1df.a3399e"]]},{"id":"2787dc27.7b7fc4","type":"switch","z":"7f1101e8.2c842","name":"ping_max_err == false","property":"ping_max_err","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1020,"y":780,"wires":[["3d42f1df.a3399e"],["6c11d7cf.92fa48","a93859.334397a8","11455903.ebb917","3648d90f.d7a876"]]},{"id":"f3ef97.20c19068","type":"change","z":"7f1101e8.2c842","name":"ping_max_err = false","rules":[{"t":"set","p":"ping_max_err","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":920,"wires":[[]]},{"id":"4c0c0f0c.6a7d3","type":"delay","z":"7f1101e8.2c842","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":620,"wires":[["abc078cb.512c88","e9b3ad35.984e3"]]},{"id":"e9b3ad35.984e3","type":"delay","z":"7f1101e8.2c842","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":620,"wires":[["2787dc27.7b7fc4"]]},{"id":"2848842a.dd61ac","type":"change","z":"7f1101e8.2c842","name":"ping_max_err = true","rules":[{"t":"set","p":"ping_max_err","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["4c0c0f0c.6a7d3","62bf4d1.d312cb4"]]},{"id":"5d48634b.1b965c","type":"switch","z":"7f1101e8.2c842","name":"Code == 0","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1400,"wires":[["1123c8a6.4d0b37"]]},{"id":"d9aa98f3.39f7f8","type":"change","z":"7f1101e8.2c842","name":"ping_robi_err = true","rules":[{"t":"set","p":"ping_robi_err","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1200,"wires":[["cae14f1c.2b52b","72261d.0575d9e4"]]},{"id":"1123c8a6.4d0b37","type":"change","z":"7f1101e8.2c842","name":"ping_robi_err = false","rules":[{"t":"set","p":"ping_robi_err","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1460,"wires":[[]]},{"id":"cae14f1c.2b52b","type":"delay","z":"7f1101e8.2c842","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1200,"wires":[["6860ab5f.76e1e4","72c45740.033d18"]]},{"id":"787e4988.9f55e8","type":"switch","z":"7f1101e8.2c842","name":"Number ?","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1400,"wires":[["1123c8a6.4d0b37"]]},{"id":"72c45740.033d18","type":"delay","z":"7f1101e8.2c842","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":1200,"wires":[["64dbd798.4b1468"]]},{"id":"64dbd798.4b1468","type":"switch","z":"7f1101e8.2c842","name":"ping_robi_err == false","property":"ping_robi_err","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":1380,"wires":[["6c1ec9bf.737df8"],["a530319.c0647d","fc7b5702.7d6708","c3e31cbd.62d0f","28b5fa61.d49686"]]},{"id":"a731e912.1e2b18","type":"switch","z":"f71e9d36.3ea46","name":"Number ?","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":860,"wires":[["22927e38.8c04f2"]]},{"id":"8ff06cbb.42649","type":"switch","z":"f71e9d36.3ea46","name":"ping_tv_err == false","property":"ping_tv_err","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":760,"wires":[["3aa9df80.0ab53"],["34d0013e.ff5d6e","6efa8b13.d67194","189300f7.1d8b2f","27e09b9a.219e34","9799080d.cb3cc8"]]},{"id":"22927e38.8c04f2","type":"change","z":"f71e9d36.3ea46","name":"ping_tv_err = false","rules":[{"t":"set","p":"ping_tv_err","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":940,"wires":[[]]},{"id":"58d09c99.d9dd34","type":"delay","z":"f71e9d36.3ea46","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":700,"wires":[["8ff06cbb.42649"]]},{"id":"53fff55a.2bdb2c","type":"change","z":"f71e9d36.3ea46","name":"ping_tv_err = true","rules":[{"t":"set","p":"ping_tv_err","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":700,"wires":[["58d09c99.d9dd34","1af09d19.959543"]]},{"id":"9799080d.cb3cc8","type":"switch","z":"f71e9d36.3ea46","name":"tvcounter == 3","property":"tvcounter","propertyType":"flow","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":980,"wires":[["cfc0cf97.f8ebc"]]},{"id":"cfc0cf97.f8ebc","type":"change","z":"f71e9d36.3ea46","name":"tvcounter = 4","rules":[{"t":"set","p":"tvcounter","pt":"flow","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":980,"wires":[[]]},{"id":"37f88821.896ac8","type":"rbe","z":"40cad1d2.79e79","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":840,"y":160,"wires":[["26c86bf1.eceeb4"]]},{"id":"a71d3c5c.c9d8f","type":"rbe","z":"40cad1d2.79e79","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":750,"y":480,"wires":[["246aaf61.ca398"]]},{"id":"55327683.ef2918","type":"rbe","z":"f71e9d36.3ea46","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1330,"y":100,"wires":[["90d00d5c.0356d"]]},{"id":"4f29876.06fef78","type":"link in","z":"7f1101e8.2c842","name":"soggiorno_cam_power","links":["6a13295b.733458","19d2f895.2ff7e7"],"x":635,"y":80,"wires":[["1dfd8819.94cab8"]]},{"id":"6a13295b.733458","type":"link out","z":"7f1101e8.2c842","name":"","links":["4f29876.06fef78"],"x":495,"y":80,"wires":[]},{"id":"19d2f895.2ff7e7","type":"link out","z":"7f1101e8.2c842","name":"","links":["4f29876.06fef78"],"x":955,"y":1600,"wires":[]},{"id":"1dfd8819.94cab8","type":"rbe","z":"7f1101e8.2c842","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":750,"y":80,"wires":[["7b8e1a3f.53f794"]]},{"id":"92cc0904.765118","type":"delay","z":"7f1101e8.2c842","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":800,"wires":[["d9aa98f3.39f7f8"]]},{"id":"2f27092.b671ff6","type":"exec","z":"95bfe7ac.e27f78","command":"sudo rpi-update","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"sudo rpi-update","x":880,"y":640,"wires":[[],[],[]]},{"id":"9d015931.53fcf8","type":"delay","z":"95bfe7ac.e27f78","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":640,"wires":[["2f27092.b671ff6"]]},{"id":"7193a82a.81f8f8","type":"trigger","z":"bd22ace0.966bd","op1":"On","op2":"Off","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":1230,"y":880,"wires":[["ef8c0a57.9e6648"]]},{"id":"d96f55de.53f5e8","type":"inject","z":"af63d9cb.310c78","name":"03:00","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["c8aed98.a8ccc28","f4e71e28.ed9ed","fbac716e.876f3","70bb3931.404468","e8da82cf.b1a7"]]},{"id":"a6ffd66c.503178","type":"inject","z":"af63d9cb.310c78","name":"03:10","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"10 03 * * *","once":false,"onceDelay":0.1,"x":1110,"y":620,"wires":[["a3ef121f.5181f","b9be9258.0ded8","6bb7ce4b.cc056","8b99c04b.b367b","bd96e045.6faa4"]]}]